.Register {
  text-align: center;
}

.Login {
  text-align: center;
}

.logo {
  height: 2.95rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  background-color: white;
}

.logo:hover {
  height: 3rem;
}
